<div class="btn-wrapper">
<h5><b>Recivable Master</b></h5>
<div class="btn-holder">
<span class="odd"><button type="button" class="btn btn-primary">New</button></span>
<span class="out"><button type="button" class="btn custBtn">Browse</button></span>
<span class="out"><button type="button" class="btn custBtn">Save</button></span>
<span class="out"><button type="button" class="btn custBtn">Delete</button></span>
<span class="out"><button type="button" class="btn custBtn">Listing</button></span>
<span class="out"><button type="button" class="btn custBtn">Print Close</button></span>

</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
			<div class="card">
				<img class="card-img-top" src="https://picsum.photos/200/150/">
				<div class="card-block">
					<a> <span class="glyphicon glyphicon-map-marker"></span></a> 
					<span>Dubai</span> 
					<p class="card-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum, dolorum asperiores, delectus dolore voluptatibus, at magnam nobis!</p>
				</div>
				<footer>
					<div class="rating">	<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
					</div>
				</footer>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
			<div class="card">
				<img class="card-img-top" src="https://picsum.photos/200/150/">
				<a> <span class="glyphicon glyphicon-map-marker"></span></a> 
					<span>Dubai</span> 
				<p class="card-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum, dolorum asperiores, delectus dolore voluptatibus, at magnam nobis!</p>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
			<div class="card">
				<img class="card-img-top" src="https://picsum.photos/200/150/">
				<div class="card-block">
					<a> <span class="glyphicon glyphicon-map-marker"></span></a> 
					<span>Dubai</span> 
					<p class="card-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum, dolorum asperiores, delectus dolore voluptatibus, at magnam nobis!</p>
				</div>
				<footer>
					<div class="rating">	<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
					</div>
				</footer>
			</div>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
			<div class="card card-inverse card-primary ">
				<img class="card-img-top" src="https://picsum.photos/200/150/">
				<div class="card-block">
					<a> <span class="glyphicon glyphicon-map-marker"></span></a> 
					<span>Dubai</span> 
					<p class="card-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum, dolorum asperiores, delectus dolore voluptatibus, at magnam nobis!</p>
				</div>
				<footer>
					<div class="rating">	<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
					</div>
				</footer>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
			<div class="card card-inverse card-info">
				<img class="card-img-top" src="https://picsum.photos/200/150/">
				<div class="card-block">
				<div class="card-block">
					<a> <span class="glyphicon glyphicon-map-marker"></span></a> 
					<span>Dubai</span> 
					<p class="card-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum, dolorum asperiores, delectus dolore voluptatibus, at magnam nobis!</p>
				</div>
				</div>
				<footer>
					<div class="rating">	<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
					</div>
				</footer>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
			<div class="card card-inverse card-info">
				<img class="card-img-top" src="https://picsum.photos/200/150/">
				<div class="card-block">
				<div class="card-block">
					<a> <span class="glyphicon glyphicon-map-marker"></span></a> 
					<span>Dubai</span> 
					<p class="card-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum, dolorum asperiores, delectus dolore voluptatibus, at magnam nobis!</p>
				</div>
				</div>
				<footer>
					<div class="rating">	<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
					</div>
				</footer>
			</div>
		</div>
	</div>
</div>